# Dependencias (Esto DEBE estar aquí para no subir basura)
node_modules/

# Producción
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj

# Sistema
.DS_Store
Thumbs.db

# IMPORTANTE: Asegúrate de que NO existan estas líneas:
# !public/wasm/  <-- (Si ves algo que mencione public o wasm con un signo !, bórralo)