# Dependencias de Node
node_modules/
dist/
dist-ssr/
*.local

# Logs de errores
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Archivos de configuración de sistema
.DS_Store
Thumbs.db

# Entorno y Caché
.env
.env.local
.vscode/
.idea/
.eslintcache
node_modules/.cache/